* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0b0c2a;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header .logo {
    font-size: 28px;
    color: #ffffff;
}

.logo {
    font-size: 32px;
    font-weight: 800;
}

.logo span {
    color: #0f766e;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0f766e;
    text-align: center;
}

.question {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
    text-align: center;
}

.question:nth-child(1) {
    animation-delay: 0.1s;
}

.question:nth-child(2) {
    animation-delay: 0.2s;
}

/* Shu tarzda ketma-ket delay beriladi */
.question p {
    font-weight: 500;
    margin-bottom: 10px;
}

.options label {
    display: block;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.3s all;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    color: white;
}

.options input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.options label:hover {
    background: #0ff;
    color: #000;
    transform: scale(1.02);
}

.options label.selected {
    background: #0ff;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 10px #0ff inset;

}

.open-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 16px;
    transition: 0.3s all;
}

.open-input:focus {
    border-color: #0ff;
    box-shadow: 0 0 10px #0ff;
    outline: none;
    transform: scale(1.02);
}

.btn.primary {
    background: linear-gradient(45deg, #0ff, #0f766e);
    color: #000;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 28px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
    text-align: center;
    width: 100%;
    
}

.btn.primary:hover {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 0 15px #0ff;
}

/* yakun */
/* SUBMIT MODAL */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.modal-box {
    background: #0b0c2a;
    padding: 30px;
    width: 380px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 30px #0ff;
    border: 1px solid #0ff;
}

.modal-box .icon {
    font-size: 50px;
    color: #0ff;
    margin-bottom: 10px;
}

.modal-box h2 {
    margin: 10px 0;
    color: #0ff;
}

.modal-box p {
    color: #ccc;
    margin-bottom: 20px;
}

.modal-box button {
    background: linear-gradient(45deg, #0ff, #0f766e);
    color: #000;
    border: none;
    padding: 12px 22px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}



@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}